:root {
    --primary-color: #6b4411;
    --secondary-color : #cccccc;
    --ascent-color: #555555;

    --ff: 'Karma', serif;

    --contentWidth: 1190px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff);
    color: var(--primary-color);
}

img {
    width: 100%;
}

/* Top-Menu and Sidebar Style */
.sidebar, 
.top-menu {
    background-color: #ffffff;
}

.sidebar {
    display: none;
    width: clamp(300px, 60%, 500px);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: auto;
    padding: 5em 0;
    font-size: 1.5em;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    animation: animateleft 0.4s;

}

@keyframes animateleft {
    from{
        left: -300px;
        opacity:0;
    } to{
        left: 0;
        opacity:1
    }
}

.sidebar > * {
    display: block;
    position: relative;
    text-decoration: none;
    color: var(--primary-color);
    padding: .5em;
}

.sidebar > *:hover {
    background-color: var(--secondary-color);
}

.sidebar #cancel {
    position: absolute;
    top: 30px;
    left: 80%;
    border-radius: 50%;
    padding: .5em .8em;
    cursor: pointer;
}

.sidebar .link {
    width: 100%;
    padding: .7em 1.5em;
}

.top-menu {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em max(2em, 50vw - var(--contentWidth) / 2);
    text-transform: uppercase;
}

.top-menu h1 {
    flex-grow: 2;
    padding-left: 1.3em;
}

.top-menu span {
    flex-grow: 1;
}

.top-menu h1, 
/* .top-menu a,  */
.top-menu span {
    font-size: 1.5em;
    font-weight: 100;
    color: var(--primary-color);
}

.top-menu span,
.top-menu a {
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
}

.top-menu .mail {
    display: none;
}

/* Photo Grid */
.photo-grid {
    margin-top: 67px;
    padding: 2em 1em;
}

.row {
    margin: 0 1em 2em;
}

.row-desc {
    margin: .3em;
    text-align: center;
}

.row-desc h3 {
    font-size: 1.5rem;
    font-weight: 100;
}

.pagination {
    text-align: center;
    /* background-color: blanchedalmond; */
    margin-bottom: 3em;
    padding: 2em 3em;
}

.pagination a {
    text-decoration: none;
    padding: .9em;
    margin: 0 -1px;
    font-size: .9rem;
    color: var(--primary-color);
    /* background-color: rgb(187, 148, 88); */
}

.pagination a:hover {
    background-color: var(--primary-color);
    color: #ffffff;
}

.pagination a:nth-child(2) {
    background-color: var(--primary-color);
    color: #ffffff;
}

.about, 
.footer-note {
    /* background-color: aqua; */
    padding: 5em 0;
    border-top: 1px solid #e7e7e7;
    text-align: center;
}

.about h2 {
    margin-bottom: 2em;
    font-weight: 100;
}

.about img {
    width: 80%;
}

.about h3 {
    margin: 1.5em;
}

.about p {
    line-height: 1.5;
}

.container {
    width: 86.5%;
    margin: 0 auto;

}

.footer-note {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    text-align: left;
}

.footer-note > * {
    flex-basis: 100%;
}

.footer-note h3 {
    font-size: 1.7rem;
    font-weight: 100;
}

.footer p {
    margin: 1em 0;
}

.copyrigth a {
    color: var(--primary-color);
}

.post {
    display: flex;
    padding: 1em;
}

.post:hover {
    background-color: var(--secondary-color);
}

.post img {
    width: 3.5em;
    margin-right: .5em;
}

.post:nth-child(3) {
    border-top: 1px solid #e7e7e7;
}

.post-desc {
    line-height: 1.5;
}

.post-desc h4 {
    font-weight: 100;
}

.popular-tag h3 {
    margin-bottom: .8em;
}

.tags span {
    background-color: var(--ascent-color);
    display: inline-block;
    padding: .1em .2em;
    margin: .1em;
    color: #ffffff;
    font-size: .9rem;
    border-radius: 2px;
}

/* From 376px up */
@media (min-width: 376px) {
    .top-menu > * {
        flex-basis: 100%;
    }

    .top-menu .mail {
        display: block;
        text-align: right;
    }

    .top-menu h1 {
        padding-left: 0;
        text-align: center;
    }
}

/* From 838px up */
@media (min-width: 838px) {
    .photo-grid {
        display: flex;
        flex-direction: column;
        padding: 2em 4.5em;
    }

    .col {
        display: flex;
    }

    .col > * {
        flex-basis: 100%;
    }

    .footer-note {
        flex-direction: row;
    }
}